* {
    margin: 0;
}

h1{

}


nav {
    background-color: #91c4f2;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-container {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #8ca0d7;
  }

  body {
    background-color: #f2f2f2;
  } 
  
  .sign_in_container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .sign_up_container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .main_header{
    margin-bottom: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    height: 40px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    background-color: #f9f9f9;
  }
  
  input[type="submit"] {
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: #91c4f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #7e1f86;
  }


  .footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    margin-top: 100px;
  }
  
  .footer_name {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  /* footer_name
footer_str_id
footer_course_id */

